body {
    display: flex;
    justify-content: center; 
    align-items: center;   
    height: 100vh;         
    margin: 0;             
}
.calc{
    border-bottom: 5px solid black;
    padding: 3px;
}
.box{
    width: 400px;
    height: 150px;
    background-color: skyblue;
    border: 2px solid black;
}
.calculator{
    margin-left:25px;
    

}